*{
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #42455a;

}

.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu ul li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    border-bottom: 2px solid #42455a;
    transition: border-bottom 0.5s;
}

.menu ul li:hover{
    border-bottom: 2px solid #fff;
}

.menu ul a{
    text-decoration: none; 
}

.menu ul a:link, a:visited{
    color: #fff;
}

.logo{
    border-bottom: none !important;
}

.logo img{
    width: 128px;
    margin-top: -7px;
    margin-right: 48px;
}

.active{
    color: #19dafa !important;
    border-bottom: 2px solid #fff !important;
}

.menu-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.menu-btn span{
    display: block;
    padding: 8px 22px;
}

.menu-btn:hover{
    background-image: radial-gradient(circle at top left, #fd00da, #19d7f8),radial-gradient(circle at top left, #fd00da, #19d7f8);
}

.banner{
    width: 80vw;
    height: 70vh;
    top: 25vh;
    left: 130px;
    position: absolute;
    color: #fff;
}

.app-text{
    width: 50vw;
    float: left;
}

.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.app-text p{
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
}

.app-picture{
    width: 100vh;
    float: right;
}

.app-picture img{
    width: 100vh;
    margin-top: -250px;
    padding-left: 50px;
}

.play-btn{
    margin-left: 40px;
    display: inline-flex;
}

.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50vw;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    cursor: pointer;
}

.play-btn-inner:hover{
    background-image: radial-gradient(circle at top left, #fd00da, #19d7f8),radial-gradient(circle at top left, #fd00da, #19d7f8);
}

.play-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
}

small{
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}

.quick-links{
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #db1bf6,#19a7d8);
}

.quick-links ul{
    display: inline-flex;
    margin: 30px auto;
    text-align: center;
}

.quick-links ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
    transition: transform 0.5s;
}

.quick-links ul li:hover{
    transform: translateY(-10px);
}

.quick-links ul li .fa{
    font-size: 25px;
    color: #fff;

}

.quick-links ul li p{
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
    
}

.quick-links a{
    text-decoration: none; 
}

.quick-links a:link, a:visited {
    color: #fff;
}

.copyright{
    right: 72px;
    bottom: 35px;
    position: absolute;
}

.copyright p{
    font-size: 10px;
    color: #919191;
}